
/* Mobile */
@media only screen and (max-width: 767px)
{

  #modalMusica .modal-content p{
    font-size:36px;
    line-height:40px;
  }

  #modalMusica .modal-content p + span{
    font-size:15px
  }

  #modalMusica .modal-content .boton{
    margin-bottom:15px;
  }


  .title{
    font-size: 35px;
    padding: 0 15px;
  }

  .subtitle{
    font-size: 19px;
    padding: 0 15px;
  }

  section.portada .content-portada h1{
    font-size: 100px;
    line-height: 80px;
  }

  section.portada .content-portada h2{
    font-size: 30px;
    line-height: 30px;
  }


  section.cuenta-regresiva .box-aros{
    width: 100%;
  }

  section.portada .box-nombres-fecha-portada h1 span{
    font-size: 35px;
    width: 45px;
    height: 45px;
    line-height: 40px;
    margin-bottom: 7px;
  }

  

  section.portada .content-portada span.fecha:before{
    right: -40px;
  }

  section.portada .content-portada span.fecha:after{
    left: -40px;
  }

  section.portada .content-portada{
    width: 95%;
  }

  section.portada .content-portada span.fecha{
    font-size: 22px;
    margin-bottom: 15px;
  }

  section.portada{
    padding-bottom: 70%;
  }

  section.portada .box-frase-portada p{
    font-size: 20px;
  }

  section.portada .box-frase-portada{
    margin-top: 130px;
  }

  section.portada::after{
    bottom: -5%;
  }

  section.cuenta-regresiva .box-aros .box-circulo span.falta{
    font-size: 45px;
    margin-top: 0;
  }

  section.cuenta-regresiva .reloj-col span.number{
    font-size: 30px;
  }

  section.footer h4{
    font-size: 90px;
  }

  section.footer h4 span{
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  section.footer .col-acciones-footer ul{
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 30px;
  }

  section.cuenta-regresiva .reloj-col span.time {
    font-size: 18px;
  }

  section.portada .portada-flor-izq-sup{
    width: 33%;
  }

  section.portada img.portada-flor-der-inf{
    width: 30%;
  }

  section.cuenta-regresiva .box-aros .box-circulo{
    padding: 28px 35px;
    width: 75%;
    height: auto;
    max-width: 350px;
  }

  section.ceremonia-fiesta .col-ceremonia h3, section.ceremonia-fiesta .col-fiesta h3{
    padding: 8px 30px;
  }

  section.ceremonia-fiesta .col-ceremonia .anim-anillos, section.ceremonia-fiesta .anim-fiesta{
    width: 220px;
  }

  section.portada img.portada-flor-izq-inf{
    width: 25%;
    bottom: -25%;
  }

  section.instagram{
    padding-top: 35%;
    padding-bottom: 50%;
  }

  section.footer{
    padding-bottom: 20%;
    padding-top: 30%;
  }

  section.regalos{
    padding-top: 140px;
    padding-bottom: 140px;
  }

  section.fiesta{
    padding-bottom: 35%;
    padding-top:100px;
  }

  section.ceremonia-fiesta{
    padding-bottom: 185px;
  }
  
  section.galeria{
    padding-top: 70px;
  }

  #modalMapa .modal-header .modal-title{
    font-size: 23px;
  }

  section.portada .portada-flor-der-inf{
    bottom: 19%;
    width: 18%;
  }

  section.portada .portada-flor-izq-inf {
    bottom: -52%;
    width: 30%;
  }

  section.regalos .regalos-flor-der {
    bottom: 16%;
    width: 26%;
  }

  section.ceremonia-fiesta .info-col .info-box a.boton{
    min-width: 80%;
  }


  section.ceremonia-fiesta .ceremonia-fiesta-flor-der{
    width: 25%;
    bottom: 36%;
  }

  section.fiesta .fiesta-flor-izq{
    max-width: 25%;
    bottom: -30%;
  }

  section.fiesta:after{
    bottom: -35px;
  }

  section.instagram:before{
    top: -6%;
  }

  section.instagram .hashtag{
    font-size: 45px;
  }

  section.instagram:after{
    bottom: -5%;
  }

  section.fiesta .item-fiesta a.boton{
    min-width:100%
  }

  #controlador-musica{
    top: initial;
    bottom:0;
    right: 0;
  }

  .music-anim-icon{
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  section.portada .container .row:first-child{
    height:815px;
  }

  section.portada::before{
    background-color: rgba(0,0,0,0.2);
  }

  section.ceremonia-fiesta .info-col .info-box h6{
    font-size: 30px;
  }

  section.ceremonia-fiesta .info-col .info-box {
    margin-bottom: 55px;
    margin-top: 50px;
  }

  section.fiesta .item-fiesta h3{
    font-size:35px
  }

}





/* Otros */
@media only screen and (min-width: 750px)
{
  section.ceremonia-fiesta .ceremonia-fiesta-flor-der{
    width: 13%;
  }

}



/* De tablet a Descktop */
@media only screen and (min-width: 992px)
{

  /* Modal asistencia */

  #modalAsistencia .modal-content{
    border: none;
    background: none;
    text-align: center;
    max-width: 800px;
    height: 580px;
    padding: 12% 24%;
    background: url('../img/img_modal01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #modalAsistencia .modal-body{
    padding: 1rem 1.5rem;
  }


  #modalAsistencia .close{
    top: 0;
    right: 25px;
  }
  
  #modalAsistencia .img-top-modal img{
    margin-top: -28%;
  }



  /* Modal sugerir cancion */

  #modalSugerirCancion .modal-content{
    border: none;
    background: none;
    text-align: center;
    max-width: 800px;
    height: 580px;
    padding: 12% 24%;
    background: url('../img/img_modal01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #modalSugerirCancion .modal-body{
    padding: 1rem 1.5rem;
  }


  #modalSugerirCancion .close{
    top: 0;
    right: 25px;
  }
  
  #modalSugerirCancion .img-top-modal img{
    margin-top: -28%;
  }

  
  /* Modal vestuario */

  #modalVestuario .modal-content{
    border: none;
    background: none;
    text-align: center;
    max-width: 800px;
    height: 580px;
    padding: 12% 24%;
    background: url('../img/img_modal01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 54%;
  }

  #modalVestuario .modal-body{
    padding: 1rem 1.5rem;
  }


  #modalVestuario .close{
    top: 0;
    right: 25px;
  }
  
  #modalVestuario .img-top-modal img{
    margin-top: -28%;
  }


  /* Modal tips */

  #modalTips .modal-content{
    border: none;
    background: none;
    text-align: center;
    max-width: 800px;
    height: 580px;
    padding: 12% 24%;
    background: url('../img/img_modal01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 54%;
  }

  #modalTips .modal-body{
    padding: 1rem 1.5rem;
  }


  #modalTips .close{
    top: 0;
    right: 25px;
  }
  
  #modalTips .img-top-modal img{
    margin-top: -28%;
  }





  /* Modal regalos */

  #modalRegalos .modal-content{
    border: none;
    background: none;
    text-align: center;
    max-width: 800px;
    height: 580px;
    padding: 12% 24%;
    background: url('../img/img_modal01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #modalRegalos .modal-body{
    padding: 1rem 1.5rem;
  }


  #modalRegalos .close{
    top: 0;
    right: 25px;
  }
  
  #modalRegalos .img-top-modal img{
    margin-top: -28%;
  }

  
  
  .content-fotos .shadow-left{
    display: block;
    position: absolute;
    left: 0;
    z-index: 999;
    height: 150%;
    width: 6%;
    background: url('../img/img_sombraGaleria_izq.svg') left center no-repeat;
    top:-27%
  }

  .content-fotos .shadow-right{
    display: block;
    position: absolute;
    right: 0;
    z-index: 999;
    height: 150%;
    width: 6%;
    background: url('../img/img_sombraGaleria_der.svg') right center repeat-y;
    top:-27%
  }


}

@media only screen and (max-width: 375px)
{
  
  section.instagram .hashtag{
    font-size: 35px;
  }

}


